@import url('https://fonts.googleapis.com/css?family=Lato:300,300i,400');

/* Customize container */
@media (min-width: 768px) {
  .container {
	  margin-top: 100px;
	  margin-bottom: 100px;
	  max-width: 38em;
  }
}

body {
	font-weight: 300;
	font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 13pt;
	line-height: 1.5em;
}

.lead {
	font-size: 15pt;
}

b, strong {
	font-weight: 400;
}

.date {
	font-size: 9pt;
	margin-top: 3px;	
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
}

.table > tbody > tr > td {
     vertical-align: top;
}

/* Custom page header */
.header {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
}

.gap-bottom-right {
	margin-right: 20px;
	margin-bottom: 10px;
}

.row h4 {
	margin-top: 0;
}

/* Add a bit of extra whitespace after rows. */
.row {
	margin-bottom: 10px;
}

.ws-left {
	padding-left: 20px;
}
.ws-bottom {
	padding-bottom: 20px;
}

.project {
	margin-top: 20px;
	margin-bottom: 20px;
}

.project-detail {
	margin-top: 10px;
}

/* External link icon. Haven't been able to find a good crossplatform unicode character. */
/*
a[target="_blank"]:after, a[href*="//"]:after {
  content: " \2022";
  margin: 0;
}
*/

blockquote {
	font-size: 12px;
	margin-bottom: 0;
}

.award {
	padding: 3px;
	background-color: #337AB7;
	color: white;
	font-variant: small-caps;
	display: inline-block;
    margin-bottom: 3px;
    border-radius: 3px;
}

.student-mug {
	opacity: 0.5;
}

.student-mug:hover {
	opacity: 1.0;
}

a:hover {
 cursor:pointer;
}

.gist-file {
	border: none !important;
}

.nav > li > a {
	padding: 5px 5px;
}

.topic {
	display: inline-block;
	background-color: rgb(250, 250, 250);
	border-radius: 3px;
	padding: 3px;
	margin: 3px;
	cursor: pointer;
}

.topic:hover {
	background-color: rgb(230, 230, 230);
}

.topic.selected {
	background-color: rgb(200, 200, 200);
}

@media print {
	
	h1, h2, h3 {
		break-after: avoid-page;
	}

	/* Don't let any chunk of information get broken. */
	.paper, .row {
		break-inside: avoid;
	}
	
	@page {
		margin: 6em;
	}
	
}

.img-thumbnail {
	padding: 0;
	border: none;
}