@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Raleway:wght@600&display=swap');

/* Customize container */
@media (min-width: 768px) {
  .container {
	  max-width: 42em;
  }
}

.container:focus {
	outline: none;
}

.container {
	padding-top: 50px;
	padding-bottom: 50px;
}

body {
	font-weight: 300;
	font-family: "Lato", sans-serif;
	font-size: 13pt;
	line-height: 1.5em;
}

.lead {
	font-size: 24px;
}

b, strong {
	font-weight: 400;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
	font-family: "Raleway", sans-serif;
	font-weight: 600;
}

.table > tbody > tr > td {
    vertical-align: top;
	border-top: 0px solid #ddd;
}

table > tbody > tr > td {
	vertical-align: top;
	padding: 0.25em;
	border-top: 0px solid #ddd;
}

/* Custom page header */
.header {
	padding-top: 10px;
	padding-bottom: 10px;
	margin-top: 20px;
	margin-bottom: 20px;
	border-top: 1px solid #e5e5e5;
	border-bottom: 1px solid #e5e5e5;
}

.gap-bottom-right {
	margin-right: 20px;
	margin-bottom: 10px;
}

.row h4 {
	margin-top: 0;
}

/* Add a bit of extra whitespace after rows. */
.row {
	margin-bottom: 10px;
}

.ws-left {
	padding-left: 20px;
}
.ws-bottom {
	padding-bottom: 20px;
}

.border-top {
	margin-top: 0.25em;
	padding-top: 0.25em;
	border-top: 1px solid #EEEEEE;
}

.project {
	margin-top: 20px;
	margin-bottom: 20px;
}

.project-detail {
	margin-top: 10px;
}

blockquote {
	font-size: 12px;
	margin-bottom: 0;
}

.award {
	padding: 3px;
	font-variant: small-caps;
	display: inline-block;
    margin-bottom: 3px;
    border-radius: 3px;
}

.student-mug {
	opacity: 0.5;
}

.student-mug:hover {
	opacity: 1.0;
}

a:hover, .clickable {
 cursor: pointer;
}

.clickable:hover {
	text-decoration: underline;
}

.nav > li > a {
	padding: 5px 5px;
}

.topic {
	display: inline-block;
}

.topic.selected, .award {
	background-color: #337AB7;
	color: white;
}

mark {
	background-color: #f1f6fe;
	border-radius: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
	padding-left: 6px;
	padding-right: 6px;
	margin: 3px;
}

.img-thumbnail {
	padding: 0;
	border: none;
	margin-top: 0.5em;
}

.img-float {
	margin-top: 0.5em;
	margin-left: 1em;
	margin-bottom: 1em;
	border-radius: 4px;
	max-width: 20%;
}

img.link {
	width: 1em;
}

/* Prevent browsers from adding URLs after links */
@media print {
    a[href]::after {
        content: none !important;
    }
}

/* Prevent page breaks after headers */
@media print {
	h1, h2, h3, h4, h5 {
		page-break-after: avoid;
	}
}


.bar {
	display: inline-block;
	padding: 5px;
	font-size: 75%;
	min-height: 1em;
	overflow: hidden;
	margin-right: 1px;
	vertical-align: middle;
}

.personal {
	color:  rgb(180,180,180);
}
.bar.personal {
	background-color: rgb(180,180,180);
	color: white;
}

.research {
	color: #81c3fc;
}
.bar.research {
	background-color: #81c3fc;
	color: white;
}

.teaching {
	color: rgb(135, 207, 135);
}
.bar.teaching {
	background-color: rgb(135, 207, 135);
	color: white;
}

.service {
	color: rgb(255, 199, 96);
}
.bar.service {
	background-color: rgb(255, 199, 96);
	color: white;
}

.shake {
	/* Start the shake animation and make the animation last for 0.5 seconds */
	animation: shake 0.5s; 

	/* When the animation is finished, start again */
	animation-iteration-count: infinite; 
}

@keyframes shake {
	0% { transform: translate(1px, 1px) rotate(0deg); }
	10% { transform: translate(-1px, -2px) rotate(-1deg); }
	20% { transform: translate(-3px, 0px) rotate(1deg); }
	30% { transform: translate(3px, 2px) rotate(0deg); }
	40% { transform: translate(1px, -1px) rotate(1deg); }
	50% { transform: translate(-1px, 2px) rotate(-1deg); }
	60% { transform: translate(-3px, 1px) rotate(0deg); }
	70% { transform: translate(3px, 1px) rotate(-1deg); }
	80% { transform: translate(-1px, -1px) rotate(1deg); }
	90% { transform: translate(1px, 2px) rotate(0deg); }
	100% { transform: translate(1px, -2px) rotate(-1deg); }
}

body .cv {
	font-size: 12pt;
	line-height: 1.4em;
}

.cv tr {
	border-bottom: 1px solid #EEEEEE;
}

.cv h1, .cv h2, .cv h3, .cv h4 {
	clear: both;
}

.cv h1 {
	font-size: 180%;
}

.cv h2 {
	font-size: 150%;
}

.cv h3 {
	font-size: 130%;
}

.cv h4 {
	font-size: 110%;
}

.cv .date {
	font-family: "Raleway", sans-serif;
	font-size: 10pt;
	font-weight: 500;
}

.cv .chunk {
	margin-bottom: 2em;
}

.cv .table {
	margin-bottom: 3em;
}

.chunk .note {
	font-size: 9pt;
	margin-left: -1em;
	line-height: 1.5em;
}

.cv .award {
	padding: 0;
	background: none;
	color: black;
	font-weight: 700;
	display: block;
}

@media print {
	
	h1, h2, h3 {
		break-after: avoid-page;
	}

	.paper, .chunk {
		orphans: 2;
		widows: 2;
	}

	@page {
		margin: 2cm;
	}	

}

