ExpiresActive On
ExpiresDefault "access"
Options -Multiviews -Indexes

# Support cache manifest for the Budget app.
AddType text/cache-manifest .manifest

# Rewrite any non-existent files and directories to the index.html file, allowing
# our single page web app to do the routing on the front end.

# Turn the rewrite engine on.
RewriteEngine On

# Redirect to https before rewriting anything
RewriteCond %{HTTPS} off
RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]

# Set the path to prepend to all rewrites.
RewriteBase /ajko

# If we're processing index.html, leave it alone and stop.
RewriteRule ^index\.html$ - [L] 

# If we're retrieving a data file, leave it alone and stop.
RewriteRule ^data/.*$ - [L] 

# Need an explicit rule to redirect the books directory to the app, otherwise we get the Apache directory listing.
# But we don't want to match anything inside the directory since we don't use the app for the books.
# Moreover, the redirect rule breaks the relative paths in index.html, so we need to explicitly
# rewrite the broken relative paths that are requested.
RewriteRule ^books/?$ index.html [L]

# Since this htaccess files applies to any subdirectory, even ones that don't exist,
# make sure any path pointing to app.js or style.css always points to the one in the root, not a path
# in any subdirectories. This works around the problem that HTML doesn't allow us to refer to a base
# directory on the server.
RewriteRule ^.*app\.min\.js$ app.min.js [L]
RewriteRule ^.*style\.css$ style.css [L]

# Rewrite all extension-less paths to have an HTML extension.
# Regex transation: match any sequence of word characters, forward slashes, and hypens followed by an optional query string
# Replace it with the file name, then the html extension, then the query string.
RewriteRule ^([\w/-]+)(\?.*)?$ $1.html$2

# If we're processing a path that isn't a real file or a directory, rewrite to index but preserve the query string.
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule (.*) index.html [L,QSA]