ExpiresActive On
ExpiresDefault "access"
Options -Multiviews -Indexes

# Support cache manifest for the Budget app.
AddType text/cache-manifest .manifest

# Rewrite any non-existent files and directories to the index.html file, allowing
# our single page web app to do the routing on the front end.

# Turn the rewrite engine on.
RewriteEngine On

# Set the path to prepend to all rewrites.
RewriteBase /ajko

# Rewrite any http requests to https
RewriteCond %{HTTPS} off
RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]

# If we're processing index.html, leave it alone and stop.
RewriteRule ^index\.html$ - [L] 

# If we're retrieving a data file, leave it alone and stop.
RewriteRule ^data/.*$ - [L] 

# Need an explicit rule to redirect the books directory to the app, otherwise we get the Apache directory listing.
# But we don't want to match anything inside the directory since we don't use the app for the books.
# Moreover, the redirect rule breaks the relative paths in index.html, so we need to explicitly
# rewrite the broken relative paths that are requested.
RewriteRule ^books/?$ books.html [L]

# Remove the ending trailing slash from any requests to avoid resolving to directory listings
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^(.*?)/$ $1.html

# Append .html to any requests with or without a trailing slash that resolve to a file with .html.
RewriteCond %{REQUEST_FILENAME}.html -f
RewriteRule ^(.*)$ $1.html [L,QSA]

# If we're processing a path that isn't a file or a directory, rewrite to index but preserve the query string.
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule (.*) index.html [L,QSA]